<!-- cart.component.html -->
<div class="cart-container">
  <h2>Carrito de compras</h2>
  <div *ngIf="cartItems.length === 0" class="empty-cart">
    <p>Tu carro esta vacio.</p>
  </div>
  <div *ngIf="cartItems.length > 0">
    <mat-table [dataSource]="cartItems">
      <ng-container matColumnDef="productName">
        <mat-header-cell *matHeaderCellDef> Producto </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{ item.title }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{ item.price | currency }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="count">
        <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{ item.count }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let item">
          <button mat-icon-button (click)="removeFromCart(item)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="['productName', 'price', 'count', 'actions']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['productName', 'price', 'count', 'actions']"></mat-row>
    </mat-table>
    <div class="cart-actions">
      <!-- <button mat-raised-button color="primary" (click)="generateInvoice()">Generar Factura</button> -->
      <button mat-flat-button color="primary" (click)="generateInvoice()">Generar Factura</button> 
    </div>
  </div>
</div>