<!-- product-detail.component.html -->
<div *ngIf="loading" class="spinner">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!loading" class="product-detail">
  <mat-card>
    <mat-card-title>{{ product.title }}</mat-card-title>
    <img mat-card-image [src]="product.image" alt="{{ product.title }}">
    <mat-card-content>
      <p>{{ product.description }}</p>
      <p>Precio: {{ product.price | currency }}</p>
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="addToCart()">
          <mat-icon style="height: 20px; width: 20px;">shopping_cart</mat-icon>
          Agregar al carrito
        </button>
        <button mat-raised-button color="accent" (click)="goBack()">Volver</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>