.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .spinner mat-spinner {
    margin: 20px;
    font-size: 24px;
    color: #337ab7;
  }

  .product-list {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 0.5fr;
    gap: 0.1em;
  }
  
  .product-list > div {
    width: 250px; /* Ancho de cada tarjeta */
    cursor: pointer;
  }
  
  .product-list mat-card {
    padding: 1em;
    width: 20vw;
    height: 55vh;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    background-color: rgb(243, 243, 243);
  }
  
  .product-list mat-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .product-list mat-card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .product-list img[mat-card-image] {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
  }
  
  .product-list mat-card-content {
    padding: 16px;
  }
  
  .product-list mat-card-content p {
    font-size: 14px;
    color: #666;
  }

.scrollable-text {
  overflow-y: auto;
  max-height: 50px;
  padding: 10px;
}

.scrollable-text::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent; 
}

.scrollable-text::-webkit-scrollbar-thumb {
  background-color: transparent;
}