.login-form {
    max-width: 300px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  mat-label {
    font-size: 14px;
    color: #333;
  }
  
  input[matInput] {
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  button[mat-raised-button] {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    background-color: #337ab7;
    color: #fff; /* Blanco */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[mat-raised-button]:hover {
    background-color: #23527c;
  }